<h1>Editing Empire Master Ind Match</h1>

<%= render 'form', empire_master_ind_match: @empire_master_ind_match %>

<%= link_to 'Show', @empire_master_ind_match %> |
<%= link_to 'Back', empire_master_ind_matches_path %>
