<div class="w700 border bg-light bg-gradient">
  <div class="m-5">
    <h1 class="text-center m-5">New Canned Response</h1>
    <%= render 'form', canned_response: @canned_response %>
    <%= link_to 'Back', canned_responses_path %>
  </div>
</div>
