<h1>Editing Empire Master Wa Match</h1>

<%= render 'form', empire_master_wa_match: @empire_master_wa_match %>

<%= link_to 'Show', @empire_master_wa_match %> |
<%= link_to 'Back', empire_master_wa_matches_path %>
