<h1>Editing Master Cpa Double Account</h1>

<%= render 'form', master_cpa_double_account: @master_cpa_double_account %>

<%= link_to 'Show', @master_cpa_double_account %> |
<%= link_to 'Back', master_cpa_double_accounts_path %>
