<h1>Editing Empire Master Pa Match</h1>

<%= render 'form', empire_master_pa_match: @empire_master_pa_match %>

<%= link_to 'Show', @empire_master_pa_match %> |
<%= link_to 'Back', empire_master_pa_matches_path %>
