<h1>Editing Empire Master Nm List</h1>

<%= render 'form', empire_master_nm_list: @empire_master_nm_list %>

<%= link_to 'Show', @empire_master_nm_list %> |
<%= link_to 'Back', empire_master_nm_lists_path %>
