<h1>Editing Empire Master Ild Match</h1>

<%= render 'form', empire_master_ild_match: @empire_master_ild_match %>

<%= link_to 'Show', @empire_master_ild_match %> |
<%= link_to 'Back', empire_master_ild_matches_path %>
