<div class="w700 border border-secondary bg-light">
  <div class="m-5">
    <h1>Editing Sequoia State</h1>

    <%= render 'form', sequoia_state: @sequoia_state %>

    <%= link_to 'Show', @sequoia_state %> |
    <%= link_to 'Back', sequoia_states_path %>
  </div>
</div>
