<p id="notice"><%= notice %></p>

<p>
  <strong>Sequoia members order:</strong>
  <%= @id_number_storage.sequoia_members_order_id %>
</p>

<%= link_to 'Edit', edit_id_number_storage_path(@id_number_storage) %> |
<%= link_to 'Back', id_number_storages_path %>
