<h1>Editing Empire Master Nj Match</h1>

<%= render 'form', empire_master_nj_match: @empire_master_nj_match %>

<%= link_to 'Show', @empire_master_nj_match %> |
<%= link_to 'Back', empire_master_nj_matches_path %>
