<h1>Editing Empire Master Ca List</h1>

<%= render 'form', empire_master_ca_list: @empire_master_ca_list %>

<%= link_to 'Show', @empire_master_ca_list %> |
<%= link_to 'Back', empire_master_ca_lists_path %>
