<div class="w700 border border-secondary bg-light">
  <div class="m-5">
    <h1 class="text-center">Edit Sequoia Course</h1>

    <%= render 'form', courses_sequoium: @courses_sequoium %>
    <br>
    <%= link_to 'Show', @courses_sequoium %> |
    <%= link_to 'Back', courses_sequoia_path %>
  </div>
</div>
