<h1>Editing Empire Master Tn List</h1>

<%= render 'form', empire_master_tn_list: @empire_master_tn_list %>

<%= link_to 'Show', @empire_master_tn_list %> |
<%= link_to 'Back', empire_master_tn_lists_path %>
