<h1>Editing Empire Master Pa List</h1>

<%= render 'form', empire_master_pa_list: @empire_master_pa_list %>

<%= link_to 'Show', @empire_master_pa_list %> |
<%= link_to 'Back', empire_master_pa_lists_path %>
