<div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">No Mail Requests</h5>
    <h6 class="card-subtitle mb-2 text-muted">Non Customers Only</h6>
    <p class="card-text">To remove a name from our prospective customer mailing lists select the apropraite link below and search for the name.</p>
    <a href="#" class="card-link">Sequoia CPA</a>
    <a href="#" class="card-link">Sequoia EA</a>
    <a href="#" class="card-link">Empire</a>
  </div>
</div>
<div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">Master Lists</h5>
    <h6 class="card-subtitle mb-2 text-muted">Prospective Customer Data</h6>
    <p class="card-text">The most up-to-date state board provided lists of licensees. Data is used for a varity of marketing aspects.</p>
    <%= link_to 'Sequoia', pages_master_lists_path %>
    <a href="#" class="card-link">Empire</a>
  </div>
</div>
<div class="card w350 mt-3">
  <div class="card-body">
    <h5 class="card-title">Customer Matching</h5>
    <h6 class="card-subtitle mb-2 text-muted">Matching our customers to </h6>
    <p class="card-text">The most up-to-date state board provided lists of licensees. Data is used for a varity of marketing aspects.</p>
    <a href="#" class="card-link">Sequoia</a>
    <a href="#" class="card-link">Empire</a>
  </div>
</div>
