<div class="" id="demo">
</div>
<script type="text/javascript">
  function get_the_data(){
    $.post("https://www.pacificcpe.com/students/1.json", function(data) {

    document.getElementById("demo").innerHTML = data
    // window.open('https://www.pacificcpe.com/students/1.json')
  });
}
  get_the_data();
  </script>
