<div class="" id="demo">
</div>
<script type="text/javascript">
  function get_the_data(){
    $.post("http://localhost:3000/users.json", function(data) {
      if(data != ""){
        var d = JSON.parse(data)
        document.getElementById("demo").innerHTML = d

      } else {
          window.alert("no data");
      }
  });
  // window.open('http://localhost:3001/students/350.json')

}
  get_the_data();
  </script>
