<div class="w700 border bg-light bg-gradient">
  <div class="m-5">
    <h1 class="text-center">Edit - Can't Find No Mail</h1>
<br><br>
      <%= render 'form', no_mail_not_found: @no_mail_not_found %>

      <%= link_to 'Show', @no_mail_not_found %> |
      <%= link_to 'Back', no_mail_not_founds_path %>
</div>
</div>
