<div class="w700 border bg-light bg-gradient">
  <div class="m-5">
    <h1 class="text-center">Can't Find No Mail</h1>
    <p class="text-center">Already searched both CPA and EA lists and could not find them</p>
    <br>
      <%= render 'form', no_mail_not_found: @no_mail_not_found %>
    </div>
  </div>
