<h1 class="text-center">Editing Empire Course Revision</h1>

<%= render 'form', empire_course_revision: @empire_course_revision %>
<br><br>
<%= link_to 'Show', @empire_course_revision %> |
<%= link_to 'Back', empire_course_revisions_path %>
