<h1>Editing Empire Master Il Match</h1>

<%= render 'form', empire_master_il_match: @empire_master_il_match %>

<%= link_to 'Show', @empire_master_il_match %> |
<%= link_to 'Back', empire_master_il_matches_path %>
