<div class="w700 border border-secondary bg-light">
  <div class="m-5">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center">Edit Courses Pacific</h1>

    <%= render 'form', courses_pacific: @courses_pacific %>

    <%= link_to 'Show', @courses_pacific %> |
    <%= link_to 'Back', courses_pacifics_path %>
  </div>
</div>
