<div class="w800 border border-secondary bg-light">
  <div class="m-5">
    <h1 class="text-center">New Empire State</h1>

    <%= render 'form', empire_state: @empire_state %>

    <%= link_to 'Back', empire_states_path %>
  </div>
</div>
