<div class="w800 border border-secondary bg-light bg-gradient">
  <div class="m-5">
  <h1 class="text-center">Edit MKTG Schedule</h1>

    <%= render 'form', mktg_postcard: @mktg_postcard %>

    <%= link_to 'Show', @mktg_postcard %> |
    <%= link_to 'Back', mktg_postcards_path %>
</div>
