<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @auto_renew_list.uid %>
</p>

<%= link_to 'Edit', edit_auto_renew_list_path(@auto_renew_list) %> |
<%= link_to 'Back', auto_renew_lists_path %>
