<h1>Editing Empire Master Ny Match</h1>

<%= render 'form', empire_master_ny_match: @empire_master_ny_match %>

<%= link_to 'Show', @empire_master_ny_match %> |
<%= link_to 'Back', empire_master_ny_matches_path %>
