<h1 class="text-center">Sequoia NCOA Download</h1>
<div class="text-center">
  <%= link_to 'Export New List ', ncoa_download_sequoia_customers_path('csv'), class: 'btn btn-primary bg-gradient text-light mt-2 text-light' %>
</div>
