<h1>Editing Empire Master Il List</h1>

<%= render 'form', empire_master_il_list: @empire_master_il_list %>

<%= link_to 'Show', @empire_master_il_list %> |
<%= link_to 'Back', empire_master_il_lists_path %>
