<h1>Editing Sequoia Product List</h1>

<%= render 'form', sequoia_product_list: @sequoia_product_list %>

<%= link_to 'Show', @sequoia_product_list %> |
<%= link_to 'Back', sequoia_product_lists_path %>
