table.table.table-outline {
    border: 1px solid #adb5bd;
}

.border-1 {
  border: 1px solid #adb5bd;
}

//Theme color 1
  //light to Dark

.light_blue_b {
  background-color: #e6ecf2
}
.light_blue {
  color: #e6ecf2
}

.color-1 {
  color: #feffff
}
.color-bg-1 {
background-color: #feffff
}
.color-bg-1-hover:hover {
  background-color: #def2f1; /* color-2 */
  color: white;
}
.color-2 {
  color: #def2f1
};
.color-bg-2 {
background-color: #def2f1
};
.color-3 {
  color: #3aafa9
};
.color-bg-3 {
background-color: #3aafa9
};

.color-bg-3-hover:hover {
  background-color: #2b7a78; /* color-4 */
  color: white;
}

.color-4 {
  color: #2b7a78
};
.color-bg-4 {
background-color: #2b7a78
};
.color-5 {
  color: #17252a
};
.color-bg-5 {
background-color: #17252a
};

.pacific-hover:hover {
  background-color: #868e96;
  color: white;
}
.text-light {
  color: #f1f1f1
}

// Bootstrap Colors
.primary {
  color: #428bca
}
.primary_t {
  color: #428bca
}
.primary_b {
  background-color: #428bca
}
.pacific_b {
  background-color: #052954
}
.white_b {
  background-color: #fff
}
.red_b {
  background-color: red
}

.success_b {
  background-color: #5cb85c;
}
.pacific {
  color: #052954
}
.danger {
  color: #dc3545
}
.warning {
  color: #ffc107
}
.teal {
  color: #20c997
}
.orange {
  color: #fd7e14
}
.pink {
  color: #e83e8c
}
.purple {
  color: #6f42c1
}
.indigo {
  color: #6610f2
}

.success {
  color: #5cb85c;
}
.success_t {
  color: #5cb85c;
}
.success_b {
  background-color: #5cb85c
}

.info {
  color: #5bc0de
}
.info_t {
  color: #5bc0de
}
.info_b {
  background-color: #5bc0de
}
// END Bootstrap Colors

// GREY
.jumbotron-b {
  background-color: #e9ecef
}
.grey-100 {
  color: #f8f9fa
}
.grey-200 {
  color: #e9ecef
}
.grey-300 {
  color: #dee2e6
}
.grey-400 {
  color: #ced4da
}
.grey-500 {
  color: #adb5bd
}
.grey-600 {
  color: #868e96
}
.grey-800 {
  color: #343a40
}
.grey-b-100 {
  background-color: #f8f9fa
}
.grey-b-200 {
  background-color: #e9ecef
}
.grey-b-300 {
  background-color: #dee2e6
}
.grey-b-400 {
  background-color: #ced4da
}
.grey-b-500 {
  background-color: #adb5bd
}
.grey-b-600 {
  background-color: #868e96
}
// END GRey
.bold {
  font-weight: bold;
}

.transparent-50 {
  opacity: .5
}
.transparent-25 {
  opacity: .75
}
