// Place all the styles related to the MktgExports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mktg_print_page_top {
  padding-top: 480px;
  margin: 0px
}
.mktg_print_padding {
  padding-bottom: 395px //Without the EXP Line
  // padding-bottom: 375px //With the EXP Line
}
.mktg_print_padding_sequoia_rc{
  padding-bottom: 420px
}
.mktg_export_text_addess {
  text-align: right;
  padding-right: 75px;
  font-size: 12px;
  // padding-top: 10px;
}


.mktg_export_text_1 {
  text-align: center;
  padding-right: 0px;
  font-size: 20px
}
.mktg_export_text_2 {
  text-align: center;
  padding-right: 0px;
  font-size: 22px
}
.mktg_export_text_3 {
  text-align: center;
  padding-right: 0px;
  font-size: 14px
}

@media print {
  .no_print {
    display: none;
  }
}

@page {
  size: 8.5in 5.5in;
  margin: 0
  // size: landscape

}
