<h1>Editing Empire Master Ind List</h1>

<%= render 'form', empire_master_ind_list: @empire_master_ind_list %>

<%= link_to 'Show', @empire_master_ind_list %> |
<%= link_to 'Back', empire_master_ind_lists_path %>
