<h1>Editing Empire Master Ga Match</h1>

<%= render 'form', empire_master_ga_match: @empire_master_ga_match %>

<%= link_to 'Show', @empire_master_ga_match %> |
<%= link_to 'Back', empire_master_ga_matches_path %>
