<h1>Editing Master Ea Double Account</h1>

<%= render 'form', master_ea_double_account: @master_ea_double_account %>

<%= link_to 'Show', @master_ea_double_account %> |
<%= link_to 'Back', master_ea_double_accounts_path %>
