<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle w200 bg-gradient" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
  <ul class="dropdown-menu w250" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" data-bs-toggle="collapse" href="#collapseExample" id="dropdownMenuButton1" data-bs-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseExample">Sequoia Customer Data</a></li>
      <div class="collapse" id="collapseExample">
        <ul>
          <li>link 1</li>
          <li>link 2</li>
        </ul>
      </div>
    <li><a class="dropdown-item" href="#">Sequoia Customer Data</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
